.btn.custom-login-btn{
	background-color:#14E22A; 
}
.btn.custom-login-btn:hover{
	background-color:#000!important; 
}
.admin-login-logo{
	margin-bottom: 30px;
	text-align: center;
}
.admin-login-logo img{
	max-width: 400px;
}